body.bg{
  background-color: #eaeaea;
}

div.list{
  -webkit-box-shadow: 0px 2px 9px rgba(0,0,0,0.15);
  float: left;
  margin-right: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

div.list-items{
  color: #555;
}

div.list-header{
  position: relative;
}

.link-remove{
  color:#d2322d;
  position: absolute;
  top: -8px;
  right: -10px;
}

.item-remove{
  position: absolute;
  top: 7px;
  right: 7px;
}

.list-group-item{
  position:relative;
}

.bold{
  font-weight:bold;
}

.list-item--text{
  color: #555;
}

.glyphicon-pencil{
  font-size:12px;
}
